/* fonts */
/* 'Roboto Slab' */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;600;800&display=swap');
/* 'Ubuntu' */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Main selectors */
:root {
	--red-orange: rgb(255, 60, 20);
	--red-hover: rgb(220, 37, 0);
	--menu-background: #eaeaea;
	--menu-hover: #dadada;
	--bright-green: rgb(50, 240, 30);
}

body {
	height: 100%;
	margin: 0;
}

/* Universal Styles*/

h1 {
    font-size: clamp(2.8rem, 10vw, 4rem);
    margin: 5px 15px;
	font-family: 'Roboto Slab', serif;
	font-weight: 800;
}

h2 {
	font-size: clamp(1.9rem, 6vw, 2.7rem);
	font-family: 'Roboto Slab', serif;
	font-weight: 600;
}

input:focus, textarea, select {
	outline: none;
}

/*All styles for the header of the page*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--red-orange);
	height: 9vh;
	min-width: 370px;
}

header > img {
    margin: 5px 15px 5px 0;
    width: clamp(2rem, 5vw, 2.6rem);
    height: auto;
}

/*Style for organize content of page*/

body > div {
	display: flex;
	flex-wrap: wrap;
	height: 91vh;
}

/* Styles for the menu of page*/

#menu {
	max-width: 320px;
	display: flex;
	flex-direction: column;
	align-items: start;
	background-color: var(--menu-background);
	box-sizing: border-box;
	padding: 20px;
	flex: 1;
}

#menu > div {
	width: 100%;
}

#menu h2 {
	margin: 10px 0 5px;
}

hr {
	border: 1px solid black;
	width: 100%;
}

.menu-item:hover {
	background-color: var(--menu-hover);
}

.menu-item {
	padding: 5px 0 5px 10px;
	margin: 3px 0;
	border-radius: 7px;
	font-size: clamp(1.2rem, 3vw, 1.5rem);
	background-color: var(--menu-background);
	width: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: 'Roboto Slab', serif;
	font-weight: 400;
}

.menu-selected {
	background-color: var(--menu-hover);
}

.menu-item > img {
	margin: 0 5px;
	height: 1.3rem;
	visibility: hidden;
}

.menu-item:hover img {
	visibility: visible;
}

.project-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.project-title > svg {
	margin-right: 8px;
	height: 35px;
	border-radius: 50%;
}

.project-title > svg:hover {
	background-color: var(--menu-hover);
}

.menu-form {
	display: flex;
	flex-direction: column;
	padding: 6px;
	padding: 5px 2px 5px 2px;
	margin: 3px 0;
	border-radius: 7px;
	font-size: clamp(1rem, 3vw, 1.5rem);
	background-color: var(--menu-background);
	width: auto;
}

.menu-form input {
	box-sizing: border-box;
	width: 100%;
	height: 2.3rem;
	font-size: 1.7rem;
	border-radius: 8px;
	border: 1px solid black;
	margin-bottom: 6px;
	font-family: 'Ubuntu', sans-serif;
}

.project-buttons {
	display: flex;
}

.project-buttons > button {
	height: 2.3rem;
	font-size: 1.7rem;
	flex-grow: 1;
	border-radius: 8px;
	border: 1px solid black;
}

.add-button {
	margin-right: 3px;
	background-color: var(--bright-green);
}

.add-button:hover {
	background-color: rgb(30, 210, 20);
}

.cancel-button {
	margin-left: 3px;
	background-color: var(--red-orange);
}

.cancel-button:hover {
	background-color: var(--red-hover);
}

/* Styles for the to-do list section of page*/

#tasks {
	display: flex;
	flex-direction: column;
	flex: 1;
	background-color: white;
	min-width: 600px;
	box-sizing: border-box;
	padding: 20px;
	overflow: auto;
	max-height: 91vh;
}

.task-span {
	border-radius: 7px;
	max-width: 700px;
	width: 100%;
	margin: 0 auto;
}

.task {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 40px;
}

.task > div {
	display: flex;
	align-items: center;
}

.task-circle {
	width: 25px;
	height: 25px; 
	border-radius: 50%;
	border: 1px solid black;
	margin: 5px;
}

.task-circle:hover {
	background-color: var(--bright-green);
}

.task-title {
	font-size: clamp(1.1rem, 2vw, 1.3rem);
	margin: 0 5px;
	font-family: 'Roboto Slab', serif;
	font-weight: 400;
}

.task-date {
	font-size: clamp(0.9rem, 1.7vw, 1.1rem);
	margin: 0 5px;
	font-family: 'Roboto Slab', serif;
	font-weight: 200;
}

img[src="images/edit.svg"] {
	height: 20px;
	padding: 3px;
	border-radius: 5px;
}

img[src="images/edit.svg"]:hover {
	background-color: var(--menu-background);
}


.task-edit {
	justify-self: end;
	margin: 0 5px;
}

.add-task {
	display: flex;
	align-items: center;
	width: 100%;
	max-width: 700px;
	margin: 10px auto;
	border-radius: 7px;
}

.add-task > p {
	font-family: 'Roboto Slab', serif;
	font-weight: 300;
}

.add-task:hover {
	background-color: var(--menu-background);
}

.task-form {
	border: 1px solid rgb(0, 0, 0, 0.4);
	border-radius: 10px;
	padding: 6px;
	box-sizing: border-box;
	box-shadow: 5px 5px 8px var(--menu-background);
	margin: 5px 0;
}

#title-edit {
	font-family: 'Ubuntu', sans-serif;
	font-size: 1.1rem;
	border: none;
}

[for="date"] {
	font-family: 'Ubuntu', sans-serif;
}

#date {
	font-family: 'Ubuntu', sans-serif;
	border: 1px solid black;
	border-radius: 3px;
}

.textarea-div {
	width: 100%;
}

.task-form textarea {
	width: calc(99% + 1px);
	resize: none;
	height: 3rem;
	font-family: 'Ubuntu', sans-serif;
	font-size: 0.88rem;
	border: none;
}

[for="priority"] {
	font-family: 'Ubuntu', sans-serif;
}

#priority {
	font-family: 'Ubuntu', sans-serif;
}
.top-form-task {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid rgb(0, 0, 0, 0.4);
}

.lower-form-task {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.task-form button {
	background-color: var(--red-orange);
	border: 1px solid rgb(0, 0, 0, 0.4);
	border-radius: 5px;
	font-family: 'Roboto Slab', serif;
	font-weight: 400;
	font-size: 1rem;
	width: 55px;
	color: white;
	margin-left: 5px;
}

.task-form button:hover {
	background-color: var(--red-hover);
}

/*responsive website designs*/

@media (max-width: 850px) {
	#content {
		flex-direction: column;
	}
	#menu {
		width: auto;
		max-width: 1000px;
		overflow: auto;
		max-height: 35vh;
	}
	#tasks {
		min-width: 0;
	}
}

svg {
	height: 25px;
	width: auto;
}


